@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: block;
}

h1 {
    margin: 20px;
    text-align: center;
    
}

.btn-group {
    text-align: center;
    
}

/* Creation Functionality */
.creationContainer {
    text-align: center;
    margin: 100px;
   
}
.creationDiv {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
    display: inline-block;
    
}
.creationHeader {
    padding-bottom: 20px;
}


/*Review Functionality*/
.reviewContainer {
    text-align: center;
}
.currCard {
    padding: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.c {
    height: auto;
    width: 25%;
    padding: 50px;
    font-size: xx-large;
    text-align: center;
    align-items: center;
    justify-content: center;
    

}

button {
    border-radius: 10px;
    border-width: 1px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    overflow: hidden;
    width: 200px;
    max-width: 100%;
    height: 40px;
    cursor: pointer;
    margin: 10px;
}
button:hover {
    background-color: #add8e6;
}

.createWordField {
    margin: 10px;
}
.createDefinitionField {
    margin: 10px;
}
.submit {
    background-color: #e1f8dc;
}
.submit:hover {
    background-color: mediumseagreen;
}